/* Importing Google Fonts for typography */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&family=Open+Sans&display=swap');

/* Resetting default margin, padding, and box-sizing for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General styling that is applicable to the entire page */

/* Styling for the hero content */
.hero-content h1 {
  font-family: 'EB Garamond', serif;
  font-size: 3.052rem; /* Adjusted font size for the hero heading */
}

/* Styling for paragraphs and list items */
p, li {
  font-family: 'Open Sans', sans-serif;
}

/* Styling for the header */

/* Styling for the small logo */
.logo-small {
  display: flex;
}

.logo-small > p {
  background: #67D7CC;
  background: linear-gradient(to right, #67D7CC 0%, #5289ac 100%);
  background-clip: padding-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.25rem; /* Adjusted font size for the logo text */
}

/* Flexbox behavior for the whole header section */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/psd_to_html/resources/bgk-header.png"); /* Background image for the hero section */
  background-repeat: no-repeat;
  background-size: cover;
}

/* Styling for the header navigation menu */
.navbar {
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  background-color: transparent;
}

.navbar .logo {
  display: flex;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  list-style: none;
  padding: 2%;
}

.navbar ul li a {
  text-decoration: none;
  color: #FFFFFF; /* Setting the default link color in the navigation menu */
}

.navbar ul li a:hover {
  text-decoration: none;
  background: #67D7CC;
  background: linear-gradient(to right, #67D7CC 0%, #5289ac 100%);
  background-clip: padding-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Styling for hero content container */
.hero-content {
  margin-bottom: 20%;
  text-align: center;
}

/* Styling for hero content text */
.hero-content h1,
.hero-content p {
  padding: 10%;
  text-align: center;
  color: #FFFFFF; /* Setting the text color for hero content */
}

.hero-content hr {
  border-color: #06e0d0;
  width: 10%;
  text-align: center;
}

/* Styling for Our Story section */

.our-story {
  display: flex;
  width: 1000px; /*change this! - we don't want to give it a fixed width with px*/
  margin: auto;
  border: none;
  padding-top: 12%;
  padding-left: 5%;
}

.logo {
  flex: 1;
  display: flex;
  margin-left: 25px;
  margin-top: 25px;
  width: 15%;
}

.text {
  flex: 2;
  width: 70%;
  display: inline-block;
}

.text > p {
  margin: 10px;
}

.text h1 {
  margin: 10px;
}

.button {
  /* border: none; --> this has to be removed,  */ 
  color: #06e0d0;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin-left: 10px;
  border: 1px solid #06e0d0;
  background-color: transparent;
  text-transform: uppercase;
}

/* Styling for video section */

/* Styling for expertise section */

/* Styling for Our Team section */

/* Styling for contact section */

/* Styling for the footer section */
