/* Importing Google Fonts for typography */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&family=Open+Sans&display=swap");

/* Resetting default margin, padding, and box-sizing for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* General styling that is applicable to the entire page*/

/* Styling for paragraphs and list items */
p,
li {
  font-family: "Open Sans", sans-serif;
}

/* Styling for the small logo */
.logo-small {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.logo-small > p {
  background: #67d7cc;
  background: linear-gradient(to right, #67d7cc 0%, #5289ac 60%);
  background-clip: padding-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.75rem; /* Adjusted font size for the logo text */
  margin-left: 0.75rem;
}

/* Styling for the header navigation menu */
.navbar {
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: space-around;
  background-color: transparent;
}

.navbar .logo {
  display: flex;
}

.navbar ul {
  display: flex;
  width: 45%;
  justify-content: space-evenly;
}

.navbar ul li {
  list-style: none;
  padding: 0.5rem;
  white-space: nowrap;
}

.navbar ul li a {
  text-decoration: none;
  color: #ffffff; /* Setting the default link color in the navigation menu */
  text-transform: uppercase;
}

.navbar ul li a:hover {
  text-decoration: none;
  background: #67d7cc;
  background: linear-gradient(to right, #67d7cc 0%, #5289ac 100%);
  background-clip: padding-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Flexbox behavior for the whole hero section */
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./resources/bgk-header.png"); /* Background image for the hero section */
  background-repeat: no-repeat;
  background-size: cover;
}

/* Styling for the hero content */
.hero-content h1 {
  font-family: "EB Garamond", serif;
  font-size: 2.75rem; /* Adjusted font size for the hero heading */
  padding: 7rem 0 1.5rem 0;
  text-align: center;
  color: #ffffff;
}

/* Styling for hero content container */
.hero-content {
  padding-bottom: 20%;
  text-align: center;
}

/* Styling for hero content text */
.hero-content p {
  max-width: 850px;
  margin-top: 2.5rem;
  margin-bottom: 4rem;
  text-align: center;
  color: #ffffff; /* Setting the text color for hero content */
}

.hero-content hr {
  border-color: #06e0d0;
  width: 6%;
  text-align: center;
}

/* Styling for Our Story section */
.our-story {
  display: flex;
  width: 1000px;
  margin: auto;
  border: none;
  padding-top: 12%;
  padding-left: 5%;
}

.logo {
  flex: 1;
  display: flex;
}

.text {
  flex: 2;
  width: 70%;
  display: inline-block;
}

.text > p {
  margin: 15px;
  font-size: 1rem;
}

.text h1 {
  margin: 15px;
}

.button {
  /* border: none; --> this has to be removed,  */
  color: #06e0d0;
  padding: 0.9rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin-left: 1rem;
  border: 1px solid #06e0d0;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #45ca4a; /* Green */
  color: white;
}


/* Styling for video section */
.skyline {
  display: flex;
  background-repeat: no-repeat;
  flex-direction: column;
  align-items: center;
  background-image: url("resources/bgk-middle.png"); /* Background image for the our-story section */
  background-size: cover;
  padding: 20%;
  margin-top: 5%;
  cursor: pointer;
}

.video-text {
  color: white;
  margin-top: 2%;
}

/* Styling for expertise section */

/* Styling for Our Team section */
.our-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./resources/bgk-header.png"); /* Background image for the our-team section */
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 10%;
  text-align: center;
}

.our-team h2 {
  font-family: "EB Garamond", serif;
  font-size: 2.75rem; /* Adjusted font size for the our-team section */
  padding: 3rem 0 0.5rem 0;
  text-align: center;
  color: #ffffff;
}

.our-team hr {
  border-color: #06e0d0;
  width: 6%;
  text-align: center;
  margin-bottom: 5%;
}

/* .our-team p {
  max-width: 700px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #ffffff;
} */

/* here I create a grid of the images - I make it have 4 colums and tell it to be max 1fr wide */
.team-container-grid {
  display: grid; /*selecting grid instead of flex */
  grid-template-columns: repeat(4, minmax(0, 1fr)); /*with the repeat i creat 4 columns with equal size */
  gap: 1rem; /*this is the distance between each card */
  margin: 2rem 5rem; /*this is the margin to the surrounding elements */
}
 /*the card themselves are flexboxes containing the image and two paragraphs */
.card-container {
  border: solid 1px grey;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem; /*this creates a gap betwenn the image and between the two text rows*/
}

.card-container img {
  width: 100%; /*this makes sure the image is not bigger then the card it is in */
  object-fit: cover; /* this makes sure the image fills the whole space in the card */
  height: 15rem; /*this makes sure the images all have the same height */
}

/* you assigned things like flex direction and justify content to a flex container child - this is not correct
.card-container img {
  flex-direction: column;
  justify-content: center;
  row-gap: 1%;
  max-width: 800%;
  border: 1px solid white;
}

where is this join-us class in the HTML? I can't find it! 
.join-us { 
  display: flex;
  justify-content: center;
  padding-top: 5%;
} */

/* Styling for contact section */

/* Styling for the footer section */
