/* Importing Google Fonts for typography */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;800&family=Open+Sans:wght@300;700;800&display=swap');

/* Resetting default margin, padding, and box-sizing for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* General styling that is applicable to the entire page*/

/* Styling for paragraphs and list items */
p,
li {
  font-family: "Open Sans", sans-serif;
}

/* Styling for the small logo */
.logo-small {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.logo-small > p {
  background: #67d7cc;
  background: linear-gradient(to right, #67d7cc 0%, #5289ac 60%);
  background-clip: padding-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.75rem; /* Adjusted font size for the logo text */
  margin-left: 0.75rem;
}

/* Styling for the header navigation menu */
.navbar {
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: space-around;
  background-color: transparent;
}

.navbar .logo {
  display: flex;
}

.navbar ul {
  display: flex;
  width: 45%;
  justify-content: space-evenly;
}

.navbar ul li {
  list-style: none;
  padding: 0.5rem;
  white-space: nowrap;
}

.navbar ul li a {
  text-decoration: none;
  color: #ffffff; /* Setting the default link color in the navigation menu */
  text-transform: uppercase;
  font-weight: 700;
}

.navbar ul li a:hover {
  text-decoration: none;
  background: #67d7cc;
  background: linear-gradient(to right, #67d7cc 0%, #5289ac 100%);
  background-clip: padding-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Flexbox behavior for the whole hero section */
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./resources/bgk-header.png"); /* Background image for the hero section */
  background-repeat: no-repeat;
  background-size: cover;
}

/* Styling for the hero content */
.hero-content h1 {
  font-family: "EB Garamond", serif;
  font-size: 2.75rem; /* Adjusted font size for the hero heading */
  font-weight: 500;
  padding: 7rem 0 1.5rem 0;
  text-align: center;
  color: #ffffff;
}

/* Styling for hero content container */
.hero-content {
  padding-bottom: 20%;
  text-align: center;
}

/* Styling for hero content text */
.hero-content p {
  max-width: 850px;
  margin-top: 2.5rem;
  margin-bottom: 4rem;
  text-align: center;
  color: #ffffff; /* Setting the text color for hero content */
}

.hero-content hr {
  border-color: #06e0d0;
  width: 6%;
  text-align: center;
}

/* Styling for Our Story section */
.our-story {
  display: flex;
  max-width: 70%;
  margin: auto;
  border: none;
  padding-top: 12%;
  padding-left: 5%;
}

.logo {
  flex: 1;
  display: flex;
}

.text {
  flex: 2;
  width: 70%;
}

.text > p {
  margin: 10px;
  font-size: 1rem;
}

.text h1 {
  margin: 10px;
}

.button {
  color: #06e0d0;
  padding: 0.9rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin-left: 1rem;
  border: 1px solid #06e0d0;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #45ca4a; /* Green */
  color: white;
}

/* Styling for video section */
.skyline {
  display: flex;
  background-repeat: no-repeat;
  flex-direction: column;
  align-items: center;
  background-image: url("resources/bgk-middle.png");
  background-size: cover;
  padding: 20%;
  margin-top: 5%;
  cursor: pointer;
}

.video-text {
  color: white;
  margin-top: 2%;
}

/* Styling for expertise section */
.expertise {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expertise h2 {
  padding-top: 2rem;
}

.byline {
  font-family: "EB Garamond", serif;
  font-weight: 400;
}

.expertise > p{
  margin: 1rem ;
}

.card-bold {
  font-weight: 700;
  text-transform: uppercase;
}

.expertise hr {
  width: 6%;
}


.expertise-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* gap: 2rem; */
  padding: 3rem 0;
}

.e-card {
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 1.75rem;
}
 
.e-card h3{
  margin: 1rem 0;
}

.down {
  border-top: solid 1px rgba(157, 156, 156, 0.679);
}

.middle {
  border-left: solid 1px rgba(157, 156, 156, 0.679);
  border-right: solid 1px rgba(157, 156, 156, 0.679);
}

.e-card p {
  max-width: 17rem;
  text-align: center;
}

/* Styling for Our Team section */

/* Styling for contact section */

/* Styling for the footer section */
#footer {
  background-image: url("./resources/bgk-footer.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3rem;
  color: white;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.contact-container {
  display: flex;
  align-items: center;
  margin: 1rem 0rem;
}

.contact-container p {
  padding-left: 0.75rem;
}

.footer-item h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.footer-nav {
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.subscribe {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.subscribe input{
 background-color: transparent;
 border: solid 1px grey;
 padding: 0.6rem 1.25rem;
}

.subscribe img{
 background-color: rgba(128, 128, 128, 0.35);
 padding: 0.25rem 1rem;
 border: solid 1px rgba(128, 128, 128, 0.35);
}

.socialmedia img {
  width: 11%;
  margin: 0 0.5rem 0 0;
} 